
body{
padding: 100px;
}
.bank-title{
    text-align: center;
    text-shadow: 10px;
    color: rgba(248, 84, 55, 0.856);
    font-weight: 800px;
    font-style: italic;
}
.submit-area{
    margin-top: 100px;
    padding: 50px;
    border: 2px solid rgb(87, 55, 55);
    border-radius: 15px;
    box-shadow: 8px 8px rgb(121, 118, 118);
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.Deposit{
    background-color: slateblue;
}
.Withdraw{
    background-color: lightsalmon;
}
.Balance{
background-color: orange;
}
footer {
    text-align:center;
    padding: 70px;
  }